@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    color: #FFFF;
    font-family: Montserrat;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    src: url();
}

h1 {
    color: #ffff;
    font-family: Montserrat;
    font-size: 110px;
    /* font-style: italic; */
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

#htitle {
    color: #000;
    font-family: Montserrat;
    min-width: 90vw;
    font-size: 62.5px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

h2 {
    /* color: #FFF; */
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    justify-self: center;
    margin: 20px;
    font-weight: 400;
}

body {
    margin: 0;
    background: url(./ASSETS/flamefirelolz.png) no-repeat center fixed; 
    background-size: cover;
    align-items: center;
    justify-content: center;
    position:fixed;
}

video {
    position: absolute;
    margin-top: 0;
    overflow: hidden;
    opacity: 0.2;
}

.top-nav-bar{
    background-color: #404040;
    margin: 0;
    padding: 0;
    height: 183px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: cen;
}

.column {
    background: #FFFF;
    border-color: orange;
    border-width: 2%;
    height: 772px;
    width: 630px;
    padding: 1%;
    border-radius: 30px;
}


#fixed {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-main {
    display: grid;
    max-width: 80vw;
    row-gap: 76px;
    column-gap: 100px;
}

.main {
    position: relative;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.button-extend {
    width: 236px;
    height: 72.5px;
    align-items: center;
    justify-content: center;
    border-radius: 69px;
    background: #FE5114;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s ease-out 100ms;
    color: white;
}

.button-extend:hover{
    background: #fff;
    color: black;
}



